.route-search-container {
	margin: 50px;
	.form-card {
		width: 400px;
		.helper-button {
			margin-top: 18px;
		}
	}

	.route-container {
		width: 95%;
		margin: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.route-item {
			width: 100px;
			height: 75px;
			margin: 10px;
			text-align: center;
			vertical-align: middle;
			line-height: 75px;
			font-size: 24px;
			color: #fff;
			border-radius: 4px;
			cursor: pointer;
			transition: all 0.1s;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.empty-route-container {
		width: 90%;
		margin: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		.empty-message {
			font-size: 24px;
		}
	}
}

@media screen and (max-width: 1279px) {
	.route-search-container {
		margin: 5px;
		margin-top: 20px;
		.route-container {
			justify-content: center;
		}
		.form-card {
			width: 85%;
			margin: auto;
			button {
				margin-top: 20px;
			}
		}
	}
}
