<div fxLayout="column">
	<div fxLayout="row" fxLayoutAlign="start center">
		<div class="route-item yellow"></div>
		<p class="helper-title">Villamos</p>
	</div>
	<div fxLayout="row" fxLayoutAlign="start center">
		<div class="route-item blue"></div>
		<p class="helper-title">Busz</p>
	</div>
	<div fxLayout="row" fxLayoutAlign="start center">
		<div class="route-item green"></div>
		<p class="helper-title">Trolibusz</p>
	</div>
	<div fxLayout="row" fxLayoutAlign="start center">
		<div
			class="route-item primary"
			matBadge="K"
			matBadgePosition="above after"
            matBadgeColor="warn"
            matBadgeSize="small"
		></div>
		<p class="helper-title">Különjárat</p>
	</div>
</div>
